:root {
  --item-colour: #f3f3f3;
  --item-border-colour: #ddd;
  --dashed-border-colour:#f56600;
  --draggable-icon: url(images/draggable.gif);
}

body {
  margin: 20px;
}

/*************/
/* Accordion */
/*************/

#accordion {
  width: 50vmax;
}

#accordion > div > div {
  padding: 0;
  background-color: var(--item-border-colour);
}

#accordion > div > h3 {
  margin: 5px 0 0 0;
}

/************/
/* Sortable */
/************/

.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: auto;
  overflow-y: hidden;
}

.sortable li {
  background-color: var(--item-colour);
  padding: 10px 10px 10px 15px; 
  font-size: 1rem; 
}

.sortable li:not(:last-child) {
  margin: 0 0 1px 0; 
}

.draggable {
  background-image: var(--draggable-icon);
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 5px 0 0;
  cursor: move;
}

.shadow {
  box-shadow: 0px 0px 10px 5px #00000033; 
}

.ui-sortable-placeholder {
  border: 2px dashed var(--dashed-border-colour);
  height: 15px;
}
