/*************/
/* View data */
/*************/

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display {
  width: calc(50vmax - 2 * var(--body-padding));
  max-width: 600px;
  height: auto;
  margin: 5px 0 0 20px
}

details > summary {
  cursor: pointer;
  outline: none;
}

.data {
  border: 1px solid #ccc;
  min-height: 20px;
  width: calc(100% - 10px);
  display: block; 
  clear: both; 
  float: left;
  margin: 15px 0 10px 0;
  padding: 5px;
  font-size: 1.125rem;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
  .display {
    margin: 30px 0 0 0;
    width: 100%;
  }
}